/* =Reset
-------------------------------------------------------------- */
/* line 11, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 22, ../sass/_reset.scss */
html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

/* line 28, ../sass/_reset.scss */
body {
  background: #fff;
}

/* line 40, ../sass/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 43, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 46, ../sass/_reset.scss */
table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0;
}

/* line 50, ../sass/_reset.scss */
caption, th, td {
  font-weight: normal;
  text-align: left;
}

/* line 55, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

/* line 58, ../sass/_reset.scss */
blockquote, q {
  quotes: "" "";
}

/* line 61, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 65, ../sass/_reset.scss */
a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0;
}

/* line 68, ../sass/_reset.scss */
a img {
  border: 0;
}

/* =Global
----------------------------------------------- */
/* line 80, ../sass/_reset.scss */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Headings */
/* line 89, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  clear: both;
}

/* line 92, ../sass/_reset.scss */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/* Text elements */
/* line 100, ../sass/_reset.scss */
p {
  margin-bottom: 1.5em;
}

/* line 103, ../sass/_reset.scss */
ul, ol {
  margin: 0 0 1.5em 3em;
}

/* line 106, ../sass/_reset.scss */
ul {
  list-style: disc;
}

/* line 109, ../sass/_reset.scss */
ol {
  list-style: decimal;
}

/* line 113, ../sass/_reset.scss */
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

/* line 117, ../sass/_reset.scss */
dt {
  font-weight: bold;
}

/* line 120, ../sass/_reset.scss */
dd {
  margin: 0 1.5em 1.5em;
}

/* line 123, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 126, ../sass/_reset.scss */
dfn, cite, em, i {
  font-style: italic;
}

/* line 129, ../sass/_reset.scss */
blockquote {
  margin: 0 1.5em;
}

/* line 132, ../sass/_reset.scss */
address {
  margin: 0 0 1.5em;
}

/* line 135, ../sass/_reset.scss */
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
}

/* line 146, ../sass/_reset.scss */
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

/* line 149, ../sass/_reset.scss */
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

/* line 153, ../sass/_reset.scss */
mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

/* line 158, ../sass/_reset.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 165, ../sass/_reset.scss */
sup {
  bottom: 1ex;
}

/* line 168, ../sass/_reset.scss */
sub {
  top: .5ex;
}

/* line 171, ../sass/_reset.scss */
small {
  font-size: 75%;
}

/* line 174, ../sass/_reset.scss */
big {
  font-size: 125%;
}

/* line 177, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* line 180, ../sass/_reset.scss */
table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* line 184, ../sass/_reset.scss */
th {
  font-weight: bold;
}

/* line 187, ../sass/_reset.scss */
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/* line 194, ../sass/_reset.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */
}

/* line 201, ../sass/_reset.scss */
button,
input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

/* line 207, ../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

/* line 225, ../sass/_reset.scss */
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

/* line 236, ../sass/_reset.scss */
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* line 241, ../sass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */
}

/* line 245, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 251, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}

/* line 255, ../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}

/* line 263, ../sass/_reset.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* line 272, ../sass/_reset.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}

/* line 278, ../sass/_reset.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}

/* line 281, ../sass/_reset.scss */
textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%;
}

/* Links */
/* line 289, ../sass/_reset.scss */
a {
  color: royalblue;
}

/* line 292, ../sass/_reset.scss */
a:visited {
  color: purple;
}

/* line 297, ../sass/_reset.scss */
a:hover,
a:focus,
a:active {
  color: midnightblue;
}

/* Alignment */
/* line 302, ../sass/_reset.scss */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

/* line 307, ../sass/_reset.scss */
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

/* line 312, ../sass/_reset.scss */
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
/* line 319, ../sass/_reset.scss */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

/* line 326, ../sass/_reset.scss */
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/* Clearing */
/* line 351, ../sass/_reset.scss */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
  content: '';
  display: table;
}

/* line 358, ../sass/_reset.scss */
.clear:after,
[class*="content"]:after,
[class*="site"]:after {
  clear: both;
}

/* =Menu
----------------------------------------------- */
/* line 366, ../sass/_reset.scss */
.navigation-main {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

/* line 372, ../sass/_reset.scss */
.navigation-main ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* line 377, ../sass/_reset.scss */
.navigation-main li {
  float: left;
  position: relative;
}

/* line 381, ../sass/_reset.scss */
.navigation-main a {
  display: block;
  text-decoration: none;
}

/* line 385, ../sass/_reset.scss */
.navigation-main ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 99999;
}

/* line 394, ../sass/_reset.scss */
.navigation-main ul ul ul {
  left: 100%;
  top: 0;
}

/* line 398, ../sass/_reset.scss */
.navigation-main ul ul a {
  width: 200px;
}

/* line 409, ../sass/_reset.scss */
.navigation-main ul li:hover > ul {
  display: block;
}

/* Small menu */
/* line 417, ../sass/_reset.scss */
.menu-toggle {
  display: none;
  cursor: pointer;
}

/* line 422, ../sass/_reset.scss */
.main-small-navigation ul {
  display: none;
}

@media screen and (max-width: 600px) {
  /* line 428, ../sass/_reset.scss */
  .menu-toggle,
  .main-small-navigation ul.nav-menu.toggled-on {
    display: block;
  }

  /* line 432, ../sass/_reset.scss */
  .navigation-main ul {
    display: none;
  }
}
/* =Content
----------------------------------------------- */
/* line 442, ../sass/_reset.scss */
.hentry {
  margin: 0 0 1.5em;
}

/* line 445, ../sass/_reset.scss */
.byline {
  display: none;
}

/* line 449, ../sass/_reset.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 453, ../sass/_reset.scss */
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

/* line 456, ../sass/_reset.scss */
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* =Asides
----------------------------------------------- */
/* line 466, ../sass/_reset.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* =Media
----------------------------------------------- */
/* line 475, ../sass/_reset.scss */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* line 481, ../sass/_reset.scss */
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}

/* line 486, ../sass/_reset.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%;
}

/* line 491, ../sass/_reset.scss */
.wp-caption-text {
  text-align: center;
}

/* line 494, ../sass/_reset.scss */
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* line 497, ../sass/_reset.scss */
.site-content .gallery {
  margin-bottom: 1.5em;
}

/* line 502, ../sass/_reset.scss */
.site-content .gallery a img {
  border: none;
  height: auto;
  max-width: 90%;
}

/* line 507, ../sass/_reset.scss */
.site-content .gallery dd {
  margin: 0;
}

/* Make sure embeds and iframes fit their containers */
/* line 518, ../sass/_reset.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Navigation
----------------------------------------------- */
/* line 526, ../sass/_reset.scss */
.site-content [class*="navigation"] {
  margin: 0 0 1.5em;
  overflow: hidden;
}

/* line 530, ../sass/_reset.scss */
[class*="navigation"] .previous {
  float: left;
  width: 50%;
}

/* line 534, ../sass/_reset.scss */
[class*="navigation"] .next {
  float: right;
  text-align: right;
  width: 50%;
}

/* =Comments
----------------------------------------------- */
/* line 543, ../sass/_reset.scss */
.comment-content a {
  word-wrap: break-word;
}

/* =Widgets
----------------------------------------------- */
/* line 552, ../sass/_reset.scss */
.widget {
  margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
/* line 557, ../sass/_reset.scss */
.widget select {
  max-width: 100%;
}

/* Search widget */
/* line 562, ../sass/_reset.scss */
.widget_search .submit {
  display: none;
}

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
/* line 571, ../sass/_reset.scss */
.infinite-scroll .navigation-paging,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
/* line 576, ../sass/_reset.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 8, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
